.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}

#new-books{
    min-height:3000px;
    /* background-color:#00bfff */
}


#best-seller-book{ 
    height: 150px;
    background:#1e1e1e
}
.pictures{
    margin: auto;
    margin-top: 15px;   
    width: 300px;
    height: 500px;
}

.book{
    width: 125px;
    height: 160px;
}

.disabled{
    pointer-events: none;
}

